@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto', sans-serif;
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2e404d;
}

.triangle1, .triangle2{
    clip-path: polygon(50% 0%, 0 70%, 100% 70%);
    background-color: white;
    height: 50px;
    width: 50px;
}

.triangle1{
    /* background: #000; */
  rotate: 90deg;
    position: relative;
    left: 50px;
    transform-origin: top;
    animation: rotate2 infinite 3s linear ;
   animation-delay: 2.2s;
  
}
.triangle2{
    animation: rotate2 infinite 3s linear ;
    transform-origin: top;
}
@keyframes rotate2{
   
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(180deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(360deg);
    }
   
    100%{
        transform: rotate(360deg);
    } 
}

